{% load static %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Coffee recomender</title>
    <link rel="stylesheet" href="{% static 'stylesheet_reg.css' %}">
    </head>
    <body>
        <header>
            <div class="container">
              <div class="header-left">
                <!-- <img class="logo" src="https://prog-8.com/images/html/advanced/main_logo.png"> -->
              </div>
              <div class="header-right">
                <a href="/index" class="home">メインページ</a>
              </div>
              <div class="header-right">
                <a href="#" class="analysis">解析</a>
              </div>
              <div class="header-right">
                <a href="/registration/1" class="register">コーヒー登録</a>
              </div>
              <div class="header-right">
                <a href="#" class="login">ログイン</a>
              </div>
            </div>
          </header>
        <br><br><br>
        <h2>Edit page</h2>
        <table>
            <form action="{% url 'edit' id %}" method="post">
                {% csrf_token %}
                {{ form.as_table }}
                <tr><td></td><td><input type="submit" value="click"></td></tr>
            </form>
        </table>
    </body>
</html>